@media screen and (max-width: 960px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (max-width: 768px) {
    .search__section {
        flex-direction: column;
    }
    .search__list {
        order: 1;
        width: 100%;
        height: calc(100vh - 420px);
    }
    .aside {
        width: 100%;
        order: -1;
    }
    .filter__column {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    .filter__option {
        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
    .filter__radio {
        &:not(:last-child) {
            margin: 0 5px 0 0;
        }
    }
    .filter__title {
        margin: 0 0 10px 0;
    }
    .filter__button {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 15px 0 20px 0;
    }
    .filter__column {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter__title {
        margin: 0 0 10px 0;
    }
    .filter__option {
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
    .card {
        flex: 1 1 calc(100% - 3rem);
    }
    .search__list {
        height: calc(100vh - 500px);
    }
    .search__section {
        margin: 0;
    }
    .footer {
        display: none;
    }
}
