* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #CCCCCC;
    color: #000;
    font-family: Gilroy, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    padding: 2px 5px;
    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

fieldset {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

// /.NULLSTYLES

#root,
.App,
.page {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    &__preloader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main {
    flex: 1;
    background-color: #cccccc;
}

.container {
    max-width: 1360px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}
// .container--small {
//     @extend .container;
//     max-width: 920px;
//     padding: 0 10px;
// }

.title {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.title--modal {
    font-size: 18px;
}

.error {
    margin: auto;
}

.search {
    height: 100%;
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 305px);
        overflow-y: scroll;
        flex-grow: 1;
    }
    &__form {
        max-width: 400px;
        width: 100%;
        margin: 20px 0;
    }
    &__section {
        width: 100%;
        height: 100%;
        margin: 50px 0 0 0;
        display: flex;
        align-items: flex-start;
        position: relative;
    }
}

.create {
    height: 100%;
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__section {
        height: 100%;
        width: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

.aside {
    position: relative;
}
.aside.absolute {
    position: absolute;
    right: 0;
}