* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #CCCCCC;
    color: #000;
    font-family: Gilroy, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    padding: 2px 5px;
    &:focus {
        outline: none;
    }
}
button {
    cursor: pointer;
}

// /.NULLSTYLES

#root,
.App,
.page {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #cccccc;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}
.container--small {
    @extend .container;
    max-width: 920px;
    padding: 0 10px;
}

.title {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.title--modal {
    font-size: 18px;
}

.error {
    margin: auto;
}

.search {
    height: 100%;
    padding: 25px 0 15px 0;
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        min-height: 550px;
        max-height: 555px;
        overflow-y: scroll;
        flex-grow: 1;
    }
    &__form {
        max-width: 400px;
        width: 100%;
        margin: 20px 0;
    }
    &__section {
        width: 100%;
        margin: 50px 0 0 0;
        display: flex;
        align-items: flex-start;
    }
}

.create {
    height: 100%;
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__section {
        height: 100%;
        width: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}
