.create-from {
    width: 300px;
    padding: 10px;
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__option {
        &:not(:last-child) {
            margin: 0 0 5px 0;
        }
    }
    &__radio {
        margin: 0 10px 0 0;
    }
    &__name, &__price {
        width: 100%;
    }
    &__input--file {
        padding: 0;
    }
    &__button {
        background-color: rgb(161, 161, 161);
        border: none;
        border-radius: 2px;
        padding: 10px 15px;
        margin: 50px 0 0 0;
        width: 100%;
        cursor: pointer;
    }
}
