.filter {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    &__column {
        margin: 0 0 10px 0;
    }
    &__option {
        &:not(:last-child) {
            margin: 0 0 5px 0;
        }
    }
    &__option > * {
        cursor: pointer;
    }
    &__radio {
        margin: 0 5px 0 0;
    }
    &__title {
        margin: 0 0 10px 0;
        cursor: pointer;
    }
    &__button {
        margin: 10px 0 0 0;
        border: 1px solid #000;
        background-color: transparent;
    }
}
