.header {
    flex: 0 0 auto;
    padding: 20px 0;
    background-color: #CCCCCC;
}

.nav {
    display: flex;
    justify-content: space-between;
    :not(:last-child) {
        margin: 0 20px 0 0;
    }
    &__link {
        color: #000;
    }
}
.nav__link.active {
    color: rgb(55, 138, 233);
}